.swipeButtons {
  position: fixed;
  bottom: 5vh;
  width: 45%;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
  background-color: #fff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12) !important;
}

.swipeButtons__repeat {
  padding: 0.5vw !important;
  color: #ffb403;
}

.swipeButtons__left {
  padding: 0.5vw !important;
  color: #fd267d;
}

.swipeButtons__star {
  padding: 0.5vw !important;
  color: #20bcff;
}

.swipeButtons__right {
  padding: 0.5vw !important;
  color: #0ce194;
}

.swipeButtons__lightning {
  padding: 0.5vw !important;
  color: #9e4fdb;
}
